* {
    margin: 0;
    padding: 0;
}

.profile-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1vw;
    box-shadow: 10px;
}

.profile-image {
    border-radius: 7px;
    width: 15em;
    
}

.edit-image {
    opacity: 30%;
}

.profile-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-name {
    text-align: center;
    color: #7f7f7f;
    font-size: 1.6em;
}

.profile-lock.fa {
    color: #7f7f7f;
    text-align: center;
    font-size: 2em;
}

.edit-disabled {
    display: none;
}

.edit-active {
    position: absolute;
    margin-top: -3em;
    margin-left: 2.1em;
    z-index: 1;
    color: #ffffff;
    font-size: 3em;
}

.filler {
    color: #141414;
    font-size: 2em;
}