.SetOneContainer{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: rgb(41, 41, 41);
}
.step{
    margin-top: 8em;
}
.step span{
    font-weight: bold;
}

.StepOneHeader{
    font-size: 1.5em;
    font-weight: bold;

}

.StepOneContent{
    text-align: center;
    font-size: 1.2em;
    width: 100%;
}

.StepOneContent p{
    margin: 0 4.1em;
}

.StepOneButton{
    align-self: center;
    margin-top: 1.5em;
    font-weight: bold;
    color: white;
    padding: 0.6em 0 0em;
    background-color: red;
    width: 75%;
    border-radius: 5px;
    cursor: pointer;
}


