.view-profiles-body {
    background-color: #141414;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-content: center;
}

.view-profiles-container {
    margin-top: 14em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question {
    color: #ffffff;
}

.profile-list {
    margin-top: 10px;
}

.manage-button {
    color: #7f7f7f;
    border-style: solid;
    font-size: 2em;
}
