.manage-profile-body {
    background-color: #141414;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-content: center;
}

.manage-profiles-container {
    margin-top: 14em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question {
    color: #fefefe;
}

.profile-list {
    margin-top: 10px;
}

.done-button {
    background-color: #ffffff;
    border-style: none;
    font-size: 2em;
    letter-spacing: 1px;
    font-weight: bold;
}
