
.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #222;
}

@media screen and (min-width: 0) and (max-width: 480px) and (max-aspect-ratio: 4 / 3) {
  html body {
      font-size: 1.5vw;
  }
}

@media screen and (max-width: 480px) and (orientation: landscape) {
  html body {
      font-size: 1.5vw;
  }
} 


@media screen and (min-width: 481px) and (max-width: 840px) and (max-aspect-ratio: 4 / 3) {
  html body {
      font-size: 1vw;
  }
}

@media screen and (min-width: 841px) and (max-width: 1280px) and (orientation: landscape) {
  html body {
      font-size: .85vw;
  }

}